<div class="stats shadow w-full overflow-x-auto">
    <div *ngIf="ingeklokt$ | async" class="stat">
        <div class="stat-title">Ingeklokt</div>
        <div class="stat-value text-primary w-8 h-8 stroke-current">
            <app-icon-klok class=""></app-icon-klok>
        </div>
    </div>
    <ng-container *ngFor="let timeStat of timeStats">
        <div *ngIf="timeStat.ms$ | async as ms" class="stat">
            <div class="stat-title">{{ timeStat.title }}</div>
            <div class="stat-value text-3xl">
                <span *ngIf="timeStat.balans" [ngClass]="ms >= 0 ? 'text-success-content' : 'text-warning-content'">{{
                    ms | time
                }}</span>
                <ng-container *ngIf="!timeStat.balans">{{ ms | time }}</ng-container>
            </div>
            <div *ngIf="timeStat.footer" class="stat-desc">{{ timeStat.footer }}</div>
        </div>
    </ng-container>
</div>
