<div class="flex justify-center p-3 items-center font-mono">
    <button class="btn btn-ghost" (click)="addMinutes(-1)">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-4 w-4"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
        >
            <polygon points="17 19 7 12 17 5 17 19"></polygon>
        </svg>
    </button>
    <button class="btn btn-ghost" (click)="addMinutes(-30)">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-4 w-4"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
        >
            <polygon points="11 19 2 12 11 5 11 19"></polygon>
            <polygon points="22 19 13 12 22 5 22 19"></polygon>
        </svg>
    </button>
    <button class="btn btn-primary text-lg shadow-md shadow-black" [ngClass]="{ 'btn-disabled': bliep }" (click)="onClick()">
        <ng-container *ngIf="!bliep"> {{ time$ | async | date: 'HH:mm' }} </ng-container>
        <ng-container *ngIf="bliep">bliep</ng-container>
        <app-icon-klok class="stroke-current pl-1 w-5 h-5 flex items-center"></app-icon-klok>
    </button>
    <button class="btn btn-ghost" (click)="addMinutes(30)">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-4 w-4"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
        >
            <polygon points="13 19 22 12 13 5 13 19"></polygon>
            <polygon points="2 19 11 12 2 5 2 19"></polygon>
        </svg>
    </button>
    <button class="btn btn-ghost" (click)="addMinutes(1)">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-4 w-4"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
        >
            <polygon points="7 19 17 12 7 5 7 19"></polygon>
        </svg>
    </button>
</div>
