<table class="table table-compact w-full">
    <tbody>
        <ng-container *ngFor="let day of days$ | async">
            <tr *ngFor="let period of day.periods; let i = index">
                <td *ngIf="i === 0" attr.rowspan="{{ day.periods.length }}">
                    <ng-container *ngIf="!day.isToday">
                        {{ day.date | date: 'dd MMMM'
                        }}<ng-container *ngIf="!isThisYear(day.date)"> {{ day.date | date: 'yyyy' }}</ng-container>
                    </ng-container>
                    <ng-container *ngIf="day.isToday">Vandaag</ng-container>
                </td>
                <td>
                    {{ period.start | date: defaultTimeFormat }}
                </td>
                <td>-</td>
                <td>
                    <ng-container *ngIf="period.end !== null">{{ period.end | date: defaultTimeFormat }}</ng-container>
                    <ng-container *ngIf="period.end === null">
                        <span *ngIf="!day.isToday" class="tooltip flex items-center text-warning" data-tip="niet uitgeklokt">
                            <app-icon-warning class="w-5 h-5 stroke-current"></app-icon-warning>
                        </span>
                        <span *ngIf="day.isToday" class="tooltip flex items-center text-primary" data-tip="klok loopt">
                            <app-icon-klok class="w-5 h-5 stroke-current"></app-icon-klok>
                        </span>
                    </ng-container>
                </td>
                <td>
                    <ng-container *ngTemplateOutlet="edit; context: { $implicit: period }"></ng-container>
                </td>
            </tr>
        </ng-container>
    </tbody>
</table>
<app-period-edit-modal *ngIf="modalOpened" [id]="selectedPeriodId!" (close)="closeModal()"></app-period-edit-modal>

<ng-template #edit let-period>
    <div class="dropdown dropdown-end">
        <label tabindex="0" class="btn btn-circle btn-ghost btn-xs">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                class="w-4 h-4 stroke-current"
                fill="none"
                stroke-width="2.5"
                stroke-linecap="round"
                stroke-linejoin="arcs"
            >
                <circle cx="12" cy="12" r="1"></circle>
                <circle cx="12" cy="5" r="1"></circle>
                <circle cx="12" cy="19" r="1"></circle>
            </svg>
        </label>
        <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-neutral rounded-box w-52">
            <li><a (click)="openModal(period.id ?? 0)">Aanpassen</a></li>
        </ul>
    </div>
</ng-template>
