<div class="overflow-x-auto flex gap-10 tabular-nums tracking-wide">
    <table class="table">
        <thead>
            <tr>
                <th>Dag</th>
                <th><div class="flex justify-center">In</div></th>
                <th><div class="flex justify-center">Uit</div></th>
                <th>Gewerkt</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngIf="liveToday$ | async as today">
                <tr *ngFor="let period of today.periods; let i = index" class="active">
                    <td *ngIf="i === 0" attr.rowspan="{{ today.periods.length }}">
                        <div class="flex justify-center">Vandaag</div>
                    </td>
                    <td>
                        <ng-container *ngTemplateOutlet="start; context: { $implicit: period }"></ng-container>
                    </td>
                    <td *ngIf="period.end === null" class="text-primary">
                        <div class="tooltip flex justify-center" data-tip="klok loopt">
                            <app-icon-klok class="w-6 h-6 stroke-current"></app-icon-klok>
                        </div>
                    </td>
                    <td *ngIf="period.end !== null">
                        <ng-container *ngTemplateOutlet="end; context: { $implicit: period }"></ng-container>
                    </td>
                    <td *ngIf="i === 0" attr.rowspan="{{ today.periods.length }}">
                        <ng-container *ngTemplateOutlet="total; context: { $implicit: today }"></ng-container>
                    </td>
                </tr>
            </ng-container>

            <ng-container *ngFor="let day of daysWithoutToday$ | async">
                <tr *ngFor="let period of day.periods; let i = index">
                    <td *ngIf="i === 0" attr.rowspan="{{ day.periods.length }}">
                        <ng-container class="flex justify-center">{{ day.date | date: 'longDate' }}</ng-container>
                    </td>
                    <td>
                        <ng-container *ngTemplateOutlet="start; context: { $implicit: period }"></ng-container>
                    </td>
                    <td *ngIf="period.end === null" class="text-warning">
                        <div class="tooltip flex justify-center" data-tip="niet uitgeklokt">
                            <app-icon-warning class="w-6 h-6 stroke-current"></app-icon-warning>
                        </div>
                    </td>
                    <td *ngIf="period.end !== null">
                        <ng-container *ngTemplateOutlet="end; context: { $implicit: period }"></ng-container>
                    </td>
                    <td *ngIf="i === 0" attr.rowspan="{{ day.periods.length }}">
                        <ng-container *ngTemplateOutlet="total; context: { $implicit: day }"></ng-container>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>
<app-period-edit-modal *ngIf="modalOpened" [id]="selectedPeriodId" (close)="closeModal()"></app-period-edit-modal>

<ng-template #start let-period>
    <button class="btn btn-sm btn-ghost" (click)="openModal(period.id)">
        {{ period.start | date: defaultTimeFormat }}
    </button>
</ng-template>

<ng-template #end let-period>
    <button class="btn btn-sm btn-ghost" (click)="openModal(period.id)">
        {{ period.end | date: defaultTimeFormat }}
    </button>
</ng-template>

<ng-template #total let-day>
    <ng-container *ngIf="getHours(day.totalMs) > 0"> {{ getHours(day.totalMs) }}u </ng-container>
    {{ getMinutes(day.totalMs) }}m
</ng-template>
